body{
    background-color: black; 
   
  }
  
  .duplicate {
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    opacity: 0;
    font-size: 2vh;
    font-family: helvetica;
    transition: opacity 0.5s ease;
    border-radius: 20px; 
    background-color: white; 
    box-shadow: 0 0 30px black; */
    cursor:fullscreen
  }

  .original {
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    opacity: 0;
    font-size: 3vh;
    font-family: helvetica;
    transition: opacity 0.5s ease;
    border-radius: 20px; 
    background-color: white; 
    box-shadow: 0 0 30px black; */
  }