body{
    background-color: black; 
    cursor: help;
   
  }
  


  #original {
    padding: 20px;
    color: black;
    margin-bottom: 10px;
    opacity: 0;
    z-index: 5;
    font-size: 2vh;
    font-family: helvetica;
    transition: opacity 0.2s ease;
    border-radius: 20px; 
    background-color: white; 
    box-shadow: 0 0 30px black; 

  }
  .duplicate {
    padding: 10px;
    z-index: 1;
    color: black;
    margin-bottom: 10px;
    opacity: 0;
    font-size: 2vh;
    font-family: helvetica;
    border-radius: 20px; 
    background-color: white; 
    box-shadow: 0 0 30px black; 

  }

